# Track .lib files with Git LFS
*.lib filter=lfs diff=lfs merge=lfs -text

# Track .dll files with Git LFS
*.dll filter=lfs diff=lfs merge=lfs -text

# Track .joblib files with Git LFS
*.joblib filter=lfs diff=lfs merge=lfs -text